body {

  background-image: radial-gradient(circle at 29.37% 70.63%, #a5a9fc 0, #767cb5 25%, #4a4f6f 50%, #242630 75%, #000000 100%);
}

h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-top: 4em;
}


#inputTask {
  padding: 4pt;
  width: 69%;
  height: 2em;
  border:0;
  border-bottom: 2pt solid gray;
  font-family: 'Poppins', sans-serif;    
}

#inputTask:focus ~ label {

  transform: translateY(-2.7em);
  font-weight: bold;
  font-size:smaller;
  color: #4158d0;
  border: 0;
} 

#labelTask {
  position: absolute;
  bottom: 10px;
  left: 1.1em;
  color: grey;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}


@keyframes jump {
  0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }

  40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
  }

  80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
  }
}


.btnAnimado {
  border: 1pt solid white;
  width: 25%;
  padding: .5em;
  line-height: 24px;
  border-radius: 4pt;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
  background-image: radial-gradient(circle at 11.94% 76.65%, #0a2b68a8 0, #0f2546 50%, #000000 100%);
  color: white;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
}

.btnAnimado:hover {
  animation: jump 1s;
  opacity: .9;
  font-size: large;
  width: 27%;
  background-image: radial-gradient(circle at 11.94% 76.65%, #0a2b68a8 0, #0f2546 50%, #000000 100%);
}

@media (max-width: 768px  ) {

  h1 {
      font-size: 1.7em;
  }

  .btnAnimado {
      width: 25%;
      height: 100%;
      font-size: 9pt;
  }

  .btnAnimado:hover {
      width: 22%;
      height: 100%;
      font-size: 8pt;
  }

  .dZDgrT {
      padding-top: 1pt;
  }

}

@media (max-width: 425px) {

  h1 {
      font-size: medium;
      margin-bottom: 2em;
  }

  h2 {

    font-size: medium;
  }

  #inputTask {
      width: 56%;
      height: 50%;
      font-size: small
  }

  #labelTask {
      font-size: smaller;
  }

  #inputTask:focus ~ label {
      font-size: small;
      transform: translateY(-2em);
      left: 6%;
  }
  
  .btnAnimado {
      padding: 0;
      font-size: 6pt;
      width: 28%;
      height: 90%;
  }
  .btnAnimado:hover {
      padding: 0;
      font-size: 6pt;
      width: 28%;
      height: 90%;
  }


}

@media (max-width: 375px) {

  h1 {
      font-size: 92%;
      margin-bottom: 1.5em;
  }

  h2 {
    font-size: smaller;
  }
}

@media (max-width: 320px) {
 h1 {
  font-size: 82%;
  }

  h2 {
    font-size: small;
  }

  #inputTask {
      padding: 2pt;
  }
  .btnAnimado {
      height: 71%;
      width: 34%;
  }
  .btnAnimado:hover {
      height: 71%;
      width: 34%;

  }

  #labelTask {
      font-size: x-small;
  }

  #inputTask {
      font-size: x-small;
  }

  #inputTask:focus ~ label {
      font-size: x-small;
      transform: translateY(-2.4em);
  }
}